.idea

debug/
target/

build
cmake-*

!hello.cu
!print.cu

out.nv12
out.h264
out.yuv
out.jpeg
out_single.jpeg
out_multi.jpeg

testGodotOcculus
testNativeOcculus

bin/app_*

images
.img
.img.xz

id_rsa.server
*.pem
*.crt
*.key
