[Unit]
Description=Augmented Camera
After=network-online.target
StartLimitBurst=4
StartLimitIntervalSec=360
OnFailure=restart-system.service

[Service]
Restart=on-failure
ExecStart=/home/pi/build/2038-AugmentedNormalcy/bin/app_camera

[Install]
WantedBy=multi-user.target